.banner{
    background: linear-gradient(to right,blue 0%,red 100%);
    background-blend-mode: multiply;
    color: #fff;
    object-fit: contain;
    height: 448px;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    max-width: 500px;
}

.fade_bottom{
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,.61), #111);
}

.banner_button{
    color: red;
    background-color: #000;
    font-weight: 800;
    font: outline;
    border: none;
    /* box-shadow: ; */
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #333
}

.banner_button:hover{
    /* border: 2px solid red; */
    background-color: #111;
    border-radius: 5px;
    transition: all .5s;
}

.banner_description{
    color: #aaa
}

